.App {
  text-align: center;
  background-color: #282424;
}


.App-header a{
  background-color: #282424;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: rgb(228, 227, 233);
  margin-right: 20px;
}




